.about {
  margin: $component-vertical-sep auto 0 auto;
  @include componentwidth();
  
  h1 {
    font-size: 2.4rem;
    text-align: center;
  }
}

.aboutContent {
  width: 80%;
  margin: 2.5rem auto 0 auto;
  p {
    font-size: 1.8rem;
    line-height: 3rem;
  }
  a {
    text-decoration: none;
    color: $color-button-primary;
  }
}