@include keyframes(fadeIn) {
	from {
		opacity: 0;
	} 

	to {
		opacity: 1;
	}
}

.company {
	color: $color-main-text;
	@include animation(fadeIn 0.1s ease-in);
	@include animation-fill-mode(forwards);
}