.searchBar {
	width: 750px;
	margin: 20px auto 0px auto;
	display: flex;
	align-content: center;
}

.searchInput {
	width: 100%;
	font-size: 1.8rem;
	padding: 1rem;
	padding-left: 4.5rem;
	font-family: 'Roboto', 'sans-serif';
	@include border-radius(2px);
	border: 1px solid $color-main-border;
	background-image: url('../images/icon_search.svg');
	background-repeat: no-repeat;	
	background-position: 2% center;
}